$primary-color: #88c74a
$pink: #fd5f5c
$coffee: #f79823
$subcolor-7: #eaeff4
$star: #efb11c
$title: #252525
$white: #fff
$black: #000
$regular: #636363
$disable: #b2b2b2
$disable-2: #d1d1d1
$line: #ebebeb
$line-2: #f5f5f5
$trans: transparent
$border: 1px solid #f5f5f5
$red: #DC1935
.primary-color
  color: $primary-color !important


.red-color
  color: $red !important

