.fb-share
  background-image: url("../images/webs/fb_16x16.svg")
  width: 30px
  height: 30px
  background-repeat: no-repeat
  background-position: center
  background-size: contain
  cursor: pointer
  display: flex

  &:hover
    background-image: url("../images/webs/fb_16x16_nc.svg")

  &.small
    width: 18px
    height: 18px

  

.line-share
  background-image: url("../images/webs/line_16X16.svg")
  width: 30px
  height: 30px
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  cursor: pointer
  display: flex

  &:hover
    background-image: url("../images/webs/line_16X16_nc.svg")

  &.small
    width: 18px
    height: 18px





.twitter-share
  background-image: url("../images/webs/twitter_16X16.svg")
  width: 30px
  height: 30px
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  cursor: pointer
  display: flex

  &:hover
    background-image: url("../images/webs/twitter_16X16_nc.svg")

  &.small
    width: 18px
    height: 18px