@import 'layout/404-error'
@import 'layout/search'
@import 'layout/about-us'
@import 'layout/account'
@import 'layout/banner'
@import 'layout/blog-layout'
@import 'layout/coming-soon'
@import 'layout/contact-us'
@import 'layout/deal-of-week'
@import 'layout/delivery-process'
@import 'layout/faq'
@import 'layout/feature-products'
@import 'layout/footer'
@import 'layout/from-blog'
@import 'layout/header'
@import 'layout/introduce'
@import 'layout/items-category'
@import 'layout/partner'
@import 'layout/product-block'
@import 'layout/product-pretty'
@import 'layout/quick-banner'
@import 'layout/sale-product'
@import 'layout/shop-cart'
@import 'layout/shop-checkout'
@import 'layout/shop-compare'
@import 'layout/shop-layout'
@import 'layout/slider'

@media (max-width: 576px)
  .no-gutters-sm
    margin-left: -15px
    margin-right: -15px
  .no-gutters-sm > .col, .no-gutters-sm > [class*="col-"]
    padding-right: 0
    padding-left: 0
